<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% flash.each do |name, message| %>
    <div class="alert alert-<%=name%> alert-dismissible fade show" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"
               <span aria-hidden="true">&times;</span>
             </button>
             <%= message %>
           </div>
  <% end %>

  <ul class="nav">
    <li class="nav-item">
      <a class="btn btn-danger" href="/products" role="button">Home</a>
    </li>

    <% if current_user && current_user.admin %>
      <li class="nav-item">
        <a class="btn btn-danger" href="/products/new" role="button"> Add New </a>
      </li>
    <%end%>

    <li class="nav-item">
      <a class="btn btn-danger" href="/products?sort=price" role="button">Sort by Price</a>
    </li>
    
    <li class="nav-item">
      <a class="btn btn-danger" href="/products?discount=true" role="button">Discounts!</a>
    </li>


    <% if current_user == nil %>
      <li class="nav-item">
        <a class="btn btn-danger" href="/signup" role="button">Signup</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger" href="/login" role="button">Login</a>
      </li>
    
    <% else %>
    <li class="nav-item">
      <a class="btn btn-danger" href="/logout" role="button">Logout</a>
    </li>

    <li class="nav-item">
      <a class="btn btn-danger" href="/cartedproducts" role="button">Shopping Cart: <%=@cart_count %> </a>
    </li>

    <% end %>

    <li class="nav-item">
      <div class="search_form">
        <%= form_tag "/search", method: :post do %>
        <%= text_field_tag :search %>
          <button class="btn btn-danger my-2 my-sm-0">Search 
          </button> 
        <% end %>
      </div>
     </li> 

    <li class="dropdown">
    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% Category.all.each do |category| %>
       <a class="dropdown-item" href="/products?category=<%= category.title %>"><%=category.title%></a> 
      <% end %>
    </div>
  </li>
  
  </ul>

  <div class="container">
    <%= yield %>
  </div>
  
  </body>
</html> 







